.song-list {
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    align-items: center;
    height: 64px;
    font-size: $font-size-medium;
    .content {
      flex: 1;
      line-height: 20px;
      overflow: hidden;
      .name {
        @include no-wrap();
        color: $color-text
      }
      .desc {
        margin-top: 4px;
        @include no-wrap();
        color: $color-text-d;
      }
    }
  }
}
